*{
    box-sizing: border-box;
    list-style: none;
}
body{
    margin: 0px;
    background-color:antiquewhite
}



header a{
    padding: 20px;
    text-align: center;
    position:static;
    right: 200px;
    
}

nav{
    overflow: hidden;
}
nav a{
    display: block;
    padding: 60px;
    font-size: 20px;
    color:brown;
    text-decoration: none;
    float: left;
}

body h1{
    box-shadow: 5px 5px blue,15px 15px rgb(227, 85, 170);
    color: chocolate;
}
body pre{
    color: rgb(225, 66, 196);
}
body h2{
    box-shadow: 5px 5px rgb(0, 255, 102),15px 15px rgb(227, 85, 170);
}
body ul{
    color: rgb(210, 114, 30);
}